<?xml version="1.0" ?>
<configuration>
	<appSettings>
		<!--<add key="CuteEditorTempPath" value="~/uploadertemp" />-->
	</appSettings>
	<system.web>
		<httpModules>
			<add name="CuteEditor.UploadModule" type="CuteEditor.UploadModule,CuteEditor"/>
		</httpModules>
	</system.web>
</configuration>